*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: chocolate;
}
.Header ul{
    display: flex;
    list-style: none;
}
.Header a{
    text-decoration: none;
    margin: 0 0.5rem;
    color: black;
}
.blog a{
    text-decoration: none;
}
.blog{
    padding: 1rem;
   
}
.register{
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    background-color: blueviolet;
}
form input{
    margin: 0.5rem 0;
    width: 300px;
    height: 40px;
}
form button{
    background-color: black;
    padding: 0.5rem;
    color: white;
}